<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{main_title}}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>{{main_title}}</h1>

    <h2>{{title}}</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{this.userId}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phonenumber}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>
